p{
    background-color: aquamarine;
}

a{
    color: rgb(255, 0, 0);
}
div{
    border: 2px solid black;
    padding: 10px;
    margin: 5px;    
}

span{
    font-size: 20px;
    font-weight: bold;
    background-color: yellowgreen;
}